<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mojin.qidon">

    <!-- MANAGE_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 请求安装文件包 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- 此应用可显示在其他应用上方 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 查询所有软件包 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <!-- 显示通知 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MainApplication"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".FrontPage"
            android:screenOrientation="landscape"
            android:label="@string/FroutPage_name">

        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

        <receiver android:name="com.mojin.qidon.ErrorGet"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mojin.qidon.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider"/>

        </provider>

        <service
            android:name=".AccessibilitySampleService"
            android:exported="true"
            android:label="御坂网络辅助"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":BackgroundService">

            <intent-filter>

                <action android:name="android.accessibilityservice.AccessibilityService"/>

            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config"/>

        </service>

        <activity
            android:name="com.mojin.qidon.AppSettingActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"/>

        <activity android:name="com.mojin.qidon.StartServer.ServerA"/>

        <activity android:name="com.mojin.qidon.StartServer.ServerB"/>

        <activity android:name="com.mojin.qidon.StartServer.ServerC"/>

        <activity android:name="com.mojin.qidon.StartServer.ServerD"/>

    </application>

</manifest>